@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">

                            <!-- Login Form -->
                            <div class="card-front">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <form id="account" method="post">
                                            <h4 class="mb-4 pb-3">Log In</h4>
                                            <div class="form-group">
                                                <input asp-for="Input.Email" class="form-style" placeholder="Email"/>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Input.Password" class="form-style" placeholder="Password"/>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <p class="mb-0 mt-4 text-end"><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></p>
                                            <div class="form-group">
                                                <div class="form-check text-start">
                                                    <input asp-for="Input.RememberMe" style="display: inline-block" class="form-check-input" />
                                                    <label asp-for="Input.RememberMe" class="form-check-label"></label>
                                                </div>
                                            </div>
                                            <button type="submit" class="btn mt-4">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
