@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="section">
    <div class="container">
        <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
                <div class="section pb-5 pt-5 pt-sm-2 text-center">
                    <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
                    <input hidden class="checkbox" type="checkbox" disabled="disabled" id="reg-log" checked="checked" name="reg-log" />
                    <div class="card-3d-wrap mx-auto">
                        <div class="card-3d-wrapper">
                            <!-- Register Form -->
                            <div class="card-back">
                                <div class="center-wrap">
                                    <div class="section text-center">
                                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                            <h4 class="mb-4 pb-3">Sign Up</h4>
                                            <div class="form-group">
                                                <input asp-for="Input.Username" class="form-style"  placeholder="Your Name"/>
                                                <span asp-validation-for="Input.Username" class="text-danger"></span>
                                                <i class="input-icon uil uil-user"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Input.Email" class="form-style" placeholder="Email"/>
                                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                                                <i class="input-icon uil uil-at"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Input.Password" class="form-style" placeholder="Password"/>
                                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <div class="form-group mt-2">
                                                <input asp-for="Input.ConfirmPassword" class="form-style" placeholder="Confirm Password"/>
                                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                                <i class="input-icon uil uil-lock-alt"></i>
                                            </div>
                                            <button type="submit" class="btn mt-4">Submit</button>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
