@model BusinessLayer.Feedback

@{
    ViewData["Title"] = "Create";
}

<div class="flex-row text-center mt-4">
    <h3>Leave a Review</h3>

</div>
<div class="row justify-content-center align-items-center mb-5">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input type="number" asp-for="Rating" min="1" max="5" class="form-control"/>
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input type="text" asp-for="Review" class="form-control"/>
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>
            <div class="form-group align-items-center text-center justify-content-between flex-row mt-3">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
