@inject SignInManager<User> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <aside class="account-sidebar">
        <h3>My Account</h3>
        <ul class="account-menu">

            <li><a asp-page="./Index" id="profile" as="./Index" class="active"><i class="fas fa-tachometer-alt @ManageNavPages.IndexNavClass(ViewContext)"></i> Dashboard</a></li>
                    <li><a><i class="fas fa-box-open"></i> Orders</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> Addresses</a></li>
            <li><a id="change-password" asp-page="./ChangePassword"><i class="fas fa-user @ManageNavPages.ChangePasswordNavClass(ViewContext)"></i> Account Details</a></li>
            <li><a id="personal-data" asp-page="./PersonalData"><i class="fas fa-heart @ManageNavPages.PersonalDataNavClass(ViewContext)"></i> Wishlist</a></li>
                    <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
        </ul>
    </aside>
</ul>
