@using Microsoft.AspNetCore.Identity
@using BusinessLayer

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
}

@if (SignInManager.IsSignedIn(User))
{
    <a class="@(currentArea == "Identity" ? "active" : "")" asp-area="Identity" asp-page="/Account/Manage/Index" >
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Account</span>
    </a>
}   
else
{
    <a class="@(currentArea == "Identity" ? "active" : "")" asp-area="Identity" asp-page="/Account/Login" >
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Login</span>
    </a>
}
