@using BusinessLayer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager

@{
    var currentArea = ViewContext.RouteData.Values["area"]?.ToString();
}

@if (SignInManager.IsSignedIn(User))
{
    <a class="@(currentArea == "Identity" ? "active" : "")" asp-area="Identity"
       asp-page=@(User.IsInRole(Role.User.ToString()) ? "/Account/Manage/Index" : "/Account/Manage/ProductsAdmin")>
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Account</span>
    </a>
}
else
{
    <a class="@(currentArea == "Identity" ? "active" : "")" asp-area="Identity" asp-page="/Account/Login">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span>Login</span>
    </a>
}
